@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  display: flex;
}

.blocks {
  overflow: scroll;
  width: 100vw;
}

.code-line {
  font-family: 'Caladea', serif;
  font-weight: 500;
  font-size: 1rem;
}

.code-indent {
  border-radius: 5px;
  color: #88888880;
  border: 1px solid #88888840;
}

.code-line-m {
  border-radius: 5px;
  color: #000000;
  border: 1px solid #00000040;
}

.float-btn {
  opacity: 0.7;
  position: fixed;
  right: 4px;
  top: 4px;
}

.input-group-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.input-code {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
}
