textarea.raw-text {
  font-family: monospace;
  font-weight: 500;
  font-size: 1rem;
  width: 100vw;
  height: auto;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  overflow: auto;
  resize: none;
  margin-top: 48px;
}
